<nav class="nav">
  <a class="logo" (click)="scrollTo('home')">
    <img src="logo-pousada.png" alt="Logo da pousada">
  </a>

  <ul class="nav-list">
    <li class="nav-item">
      <a (click)="scrollTo('home')">Home</a>
    </li>
    <li class="nav-item">
      <a (click)="scrollTo('sobre')">Sobre</a>
    </li>
    <li class="nav-item">
      <a (click)="scrollTo('galeria')">Galeria</a>
    </li>
    <li class="nav-item">
      <a (click)="scrollTo('contato')">Contato</a>
    </li>
  </ul>
</nav>