.hero-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;

  background: url('/cascata-banner.jpg') no-repeat top center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.hero-content {
  z-index: 2;
  max-width: 800px;
  padding: 20px;
  margin-top: 90px;
  
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}


h1 {
  font-size: 4rem;
  margin-bottom: 16px;
  line-height: 1.2;
  color: #51A8B1;
}


p {
  font-size: 1.5rem;
  margin-bottom: 32px;

  @media (max-width: 768px) {
    font-size: 1.1rem;
  }
}
