<section class="sobre-container" id="sobre">
  <div class="texto-container">
    <h2>Nossa História</h2>
    <p id="first">
      Bem-vindo ao Recanto da Cascata, um refúgio de tranquilidade e beleza natural. 
      Localizado em meio a paisagens deslumbrantes, nosso espaço oferece uma experiência 
      única para quem busca conexão com a natureza.
    </p>
    <p>
      Aqui, você pode desfrutar de caminhadas pelas trilhas, relaxar à beira da cachoeira 
      e explorar a flora e fauna locais. Nosso compromisso é proporcionar momentos 
      inesquecíveis em um ambiente sustentável e acolhedor.
    </p>
    <p>Venha nos visitar e descubra o encanto do Recanto da Cascata!</p>
  </div>

  <div class="imagem-container">
    <img src="cabana-sobre.jpg" alt="Imagem de uma cabana no Cascata">
  </div>
</section>